.slide {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  // background-color: yellow;
  width: 94%;
  overflow-x: hidden;
  
  .container {
    width: 100%;
    position: relative;
    // background-color: yellow;
  }

  .carousel-initialized {
    position: static;
  }

  .carousel-prev,
  .carousel-next {
    width: 50px;
    height: 50px;
    background-color: rgb(243, 243, 243);
    // background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .carousel-prev {
    left: -0px;
  }
}

@media screen and (max-width: 768px) {
  .slide {
    padding: 30px 0px;
    
    .carousel-prev,
    .carousel-next {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .slide {
    padding: 20px 0px;
    
    .carousel-prev,
    .carousel-next {
      width: 35px;
      height: 35px;
    }
  }
}
